<footer class="footer">
  <small>
    The Ruby on Rails</a>
    by <a href="http://www.bilalqaiser.com/portfolio">Bilal Qaiser</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>